@import "tailwindcss";


@font-face {
  font-family: 'Arsenica';
  src: url('./assets/ArsenicaTrial-Medium.woff2') format('woff2'),
       url('./assets/ArsenicaTrial-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-ibm {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}